
.content {
    width:400px;
    height:250px;
    font-size:18px;
 }
.top {
    font-weight:bold;
    padding-bottom:14px;
    color:#171717;
    border-bottom:dotted 1px #656565;
}
.middle {
    padding-top:11px;
    height:200px;
}

.middle .Big {
    float :left;
    width :50%;
    height:150px;
}
.middle .Small {
    float :left;
    width:48%;
    height:150px;
       
}

.middle .Big .left1 {
    width:150px;
    height:150px;
    border-spacing:1px;
}

.middle .Small .smallone{
    width:47px;
    height:47px;
    border-spacing:0.5px;
}

.middle .Small .smallone .boxsmall{
     width:30px;
    height:30px;
    border-spacing:0.5px;
    margin-left:15px;
}

.middle .Small .smallone span{
    display:block;
    font-size:9px;
   text-align:center;
    margin-bottom:15px;

}

.middle .bottom {
    clear:both;
    padding-top:8px;
    width:300px;
    
}

.middle .bottom .left {
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
}
.middle .bottom .right {
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    }

.middle .bottom .bottom1 .box1{
    float:left; 
    height:6px;
    width:14.2%; 
}
.middle .bottom .box2{
    font-size:8px;

}

.middle .bottom #value0{
     width:20%;
    float:left;
   
}

.middle .bottom .box22{
    float:left;
     width:60%;
    text-align:center;
}
.middle .bottom #value1{
    float:right;
    width:20%;
   text-align:right;
}