<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <!--<httpHandlers>
        <add verb="*" path="MarketBarometer.ashx" type="DataProvider.MarketBarometer, BLL" />
      </httpHandlers>-->
    </system.web>
  <system.webServer>
    <handlers>
      <add name="MarketBarometer" verb="*" path="MarketBarometer.ashx" type="DataProvider.MarketBarometer,BLL"/>
    </handlers>
  </system.webServer>
</configuration>
